<?xml version="1.0" encoding="utf-8"?>
<!-- Every app project must have an AndroidManifest.xml file components of the app, including all activities, services, broadcast receivers, and content providers, as well as permissions and the hardware and software features the app requires. -->
<!-- For examples and documentation, see: https://developer.android.com/guide/topics/manifest/manifest-intro#example -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- permissions needed for the location lookup button -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- permissions needed for using the embedded WebKit browser -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" />
    <!-- android:configChanges="orientation|screenSize"-->

    <application
        android:label="${PRODUCT_NAME}"
        android:name="${PRODUCT_BUNDLE_IDENTIFIER}.AndroidAppMain"
        android:allowBackup="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
